
html,body{
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    overflow: hidden;
}

.navbar{  
   min-height:85px;
    background-color: rgb(3, 169, 244);  
    align-content: center;
    display: flex;
}
.logo{
    display: flex;
    padding-left: 5px;
    width: 185px;
    flex-flow: row nowrap;
}
.envelope{
    display: flex;
    align-self: center;
}

.envelope:hover{
    animation: mail-sign-movment 3s infinite;
}

.header-mail{
    padding-top: 15px;
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: xx-large;
    display: flex;
    align-self: center;
}

.header-mail:hover{
    transition-duration: 5s;
    animation-iteration-count: infinite;
    font-size: 60px;
}

.main-menu{
    display: flex;
    flex-flow: row;
    height: calc(100% - 85px);
}

.toolbar{
    background-color: rgb(33, 33, 33);  
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}
.all-buttons{
    display: flex;
    flex-flow: column nowrap;
}
.tool-buttons:hover{
    background-color: rgb(255,145,0);
    transform: translateX(7px);
}
.tool-buttons{
    border: none;
    color: white;
    padding: 6px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;  
    width: 98%;
    background-color: rgb(117,117,117);
    text-align: left;
    border-radius: 2px;
    transition-duration: 2s;
}
.content{
    width: 80%;
    min-height: 60px;
    border: solid rgb(245,245,245) 1px ;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    background-color: rgb(245,245,245);
    box-shadow: 0px 5px 5px rgb(245 245 245 / 47%);
    padding-top: 5px;
    transition-duration: 1s;
}
.content:nth-of-type(odd)
{
    background-color: rgb(177, 171, 171);

}
.content:hover{
    min-height: 75px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.header{
    height: 90%;
    width: 180px;
    display: flex ;
    flex-direction: column;
    border-right: black solid 1px;
}

.main-header{
    display: flex;
    font-family:Verdana, sans-serif;
    font-size: 26px;
    letter-spacing: -0.03em;
}
.from{
    display: flex;
    font-size: 14px;
}

.message{
    height: 100%;
    display:flex;
    flex: 1;
    font-family:Verdana, sans-serif;
    vertical-align:top;
    font-size: 14px;
    overflow: hidden;
    padding: 2px;
}

.message-importance{
    width: 25px;
    display: flex;
    position: relative;
    top: 55%;
   background: url("redsign.png") no-repeat ;
}

.content:hover .message-importance{
   background: url("redsignG.png") no-repeat ;
}

.content-space{
    overflow-y:scroll; 
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(66,66,66);
    min-height: 0px;
}
.floating-button{
    border: 0px;
    border-radius: 50%;
    background-color: rgb(255,145,0);
    width: 40px;
    min-width: 20px;
    height: 40px;
    min-height: 20px;
    position: absolute;
    bottom: 7.5px;
    right: 7.5px;
    cursor: pointer;
}
.floating-button:hover{
    animation: spin 5s 1;
}

@keyframes spin{
    50% {transform: rotate(360deg);}
}

@keyframes mail-sign-movment{
    
    50% {transform: translateX(130px);}
}
