
html,body{
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
}

.navbar{
    width: 100%;
    height:85px;
    background-color: rgb(3, 169, 244);  
    display: inline-block;
}
.logo{
    height: 90px;
    width: 185px;
    text-align: center;
}
.envelope{
    display: inline;
    margin-top: 25px;
}

.envelope:hover{
    animation: mail-sign-movment 3s infinite;
}

.header-mail{
    display: inline;
    color: white;
    font-family: sans-serif;
    font-size: xx-large;
}

.header-mail:hover{
    transition-duration: 5s;
    animation-iteration-count: infinite;
    font-size: 60px;
}
.toolbar{
    background-color: rgb(33, 33, 33);  
    width: 200px;
    height:100%;
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px; 
    vertical-align: top;
    text-align: left;
}
.tool-buttons:hover{
    background-color: rgb(255,145,0);
    transform: translateX(7px);
}
.tool-buttons{
    border: none;
    color: white;
    padding: 6px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;  
    width: 97%;
    background-color: rgb(117,117,117);
    text-align: left;
    border-radius: 2px;
    transition-duration: 2s;
}
.content{
    width: 80%;
    height: 50px;
    border:solid rgb(245,245,245) 1px;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inherit;
    background-color: rgb(245,245,245);
    box-shadow: 0px 5px 5px rgba(245, 245, 245, 0.466);
    text-align: left;
    padding-top:5px;
    transition-duration: 1s;
    
}
.content:hover{
    height: 75px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.header{
    height: 90%;
    width: 180px;
    display: inline-block ;
    border-right: black solid 1px;
}

.main-header{
    display: block;
    font-family:Verdana, sans-serif;
    font-size: 26px;
    letter-spacing: -0.03em;
}
.from{
    display: block;
    font-size: 14px;
}

.message{
    height: 100%;
    width: calc(100% - 215px);
    display:inline-block;
    font-family:Verdana, sans-serif;
    vertical-align:top;
    font-size: 14px;
    overflow: hidden;
}

.message-importance{
    height: 100%;
    width: 25px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    top: 55%;
   background: url("redsign.png") no-repeat ;
}

.content:hover .message-importance{
   background: url("redsignG.png") no-repeat ;
}

.main-menu{
    height: calc(100% - 85px);
    width: 100%;
}

.content-space{
    overflow: scroll;
    overflow-y: auto; 
    overflow-x: hidden;
    height: 100%;
    width: calc(100% - 200px);
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px; 
    text-align: center;
    background-color: rgb(66,66,66);
}
.floating-button{
    border: 0px;
    border-radius: 50%;
    background-color: rgb(255,145,0);
    width: 40px;
    min-width: 20px;
    height: 40px;
    min-height: 20px;
    position: absolute;
    object-position: 90%;
    bottom: 7.5px;
    right: 25px;
    cursor: pointer;
}
.floating-button:hover{
    animation: spin 5s 1;
}

@keyframes spin{
    50% {transform: rotate(360deg);}
}

@keyframes mail-sign-movment{
    
    50% {transform: translateX(130px);}
}
